<p class="name">Name:{{name}}</p>
<p class="capital">Capital:{{capital}}</p>
<p class="population">Population:{{population}}</p>
<img src="{{flag}}" alt="{{name}} flag" class="flag">
<ul class="languages">Languages:
    {{#each languages}}
    <li class="">{{name}}</li>
    {{/each}}
</ul>